@use 'variables' as v; 

// Mixins for media queries
@mixin mobile {
    @media (min-width: v.$mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

// Mixin for Grid
@mixin gridCol($cols, $space) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    gap: $space;
}
@mixin gridRow($rows, $space) {
    display: grid;
    grid-template-rows: repeat($rows, 1fr);
    gap: $space;
}

@mixin flex($direction, $align, $justify) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

// Mixin for buttons
@mixin btn($bg, $color, $bg2, $color2) {
    padding: 1rem;
    border-radius: v.$spaceSmall;
    border-color: $bg;
    font-weight: v.$fontWeightBold;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: $bg;
    color: $color;

    @include tablet{
        width: 50%;
    }
  
  
    &:hover {
      background-color: $bg2;
      color: $color2;
      transition: background-color 0.2s ease-in-out;
      cursor: pointer;
    }
  }