@use 'variables' as v;
@use 'mixins' as m;

// Buttons
.btnPrimary {
    @include m.btn(v.$color4, v.$color2, v.$color4, v.$color1);
}

// animations
.animate__fadeInDown {
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}
.animate__fadeInUp {
    animation-duration: 2s;
    animation-delay: 0.5s;
}
.animate__zoomIn {
    animation-duration: 2.5s;
}
.jello {
    animation-duration: 2s;
    animation-iteration-count: infinite;
}